<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'taskapp/css/style.css' %}" type="text/css"/>
  <title>To Do</title>
</head>
<body>
  <div class="topnav">
    <a href="{% url 'index' %}">To Do</a>
    <a href="{% url 'timer' %}">Pomodoro</a>
     {% csrf_token %} 
  </div>
  {% block content %}
  <center><h1>ToDo List</h1>
  <form class="sd">
    <label for="new-task">New Task:</label>
   <center> <input type="text" class="input100" id="new-task" name="new-task"></center>
    <button type="submit">Add Task</button>
  </form>
  <ul id="task-list">
    <!-- Tasks will be dynamically added here -->
  </ul>
  <script src="{% static 'taskapp/js/script.js' %}"></script>
  <style>
    .completed {
      text-decoration: line-through;
    }
  </style></center>
  {% endblock %}
</div>
</body>
</html> 
