<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'taskapp/css/style.css' %}" type="text/css"/>
  <title>To Do</title>
</head>
<body>
  <div class="topnav">
    <a href="{% url 'index' %}">To Do</a>
    <a href="{% url 'timer' %}">Pomodoro</a>
     {% csrf_token %} 
  </div>
  {% block content %}
  <center><h1>ToDo List</h1></center>
    <center>
      <div>
          <input type="text" class="input100" id="task-input" placeholder="Enter task description">
          <button id="add-task">Add Task</button>
          <ul id="task-list"></ul>
        </div>
      </center>
    <script src="{% static 'taskapp/js/task.js' %}"></script> 

  {% endblock %}
<link rel="stylesheet" href="{% static 'css/modal.css' %}">

<script src="{% static 'js/modal.js' %}"></script>

<button onclick="openModal()">Открыть модальное окно</button>
<script src="{% static 'taskapp/js/modal_window.js' %}"></script> 
</div>
</body>
</html> 
