{% extends 'taskapp/index.html' %}
{% block title %}Timer{% endblock %}
{% block content %}
{% load static %}
<form class="form-timer">
<center><div id="timer">
    <p id="time">25:00</p>
  </div>
  
  <label for="minutes-input">Minutes:</label>
  <input id="minutes-input" type="number" value="25">
  
  <button id="start">Start</button>
  <button id="pause">Pause</button>
  <button id="reset">Reset</button>
</center>
</form>
  {% block javascript %}
  {% load static %}

  <script src="{% static 'taskapp/js/timer.js' %}"></script>

  {% endblock %}

{% endblock %}
