{% extends 'taskapp/index.html' %}
{% block title %}Timer{% endblock %}
{% block content %}
{% load static %}
<center><div id="timer">
  <center><h1>Pomodoro Timer</h1></center>
    <p id="time">25:00</p>
  </div>
  
  <label for="minutes-input">Minutes:</label>
  <input id="minutes-input" class="input100" type="number" value="25">
  
  <button id="start">Start</button>
  <button id="pause">Pause</button>
  <button id="reset">Reset</button>
  <button id="open-timer">Open Timer</button>
</center>

  {% block javascript %}
  {% load static %}

  <script src="{% static 'taskapp/js/timer.js' %}"></script> 
  <script src="{% static 'taskapp/js/stopwatch.js' %}"></script>

  {% endblock %}

{% endblock %}
