{% extends "base.html" %}
{% block title %} {{ title }} {% endblock %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static "./pages/form.css" %}">
{% endblock %}
{% block content %}

    <main class="main container">
        <div class="main__header">
            <div class="col-md-12">
                <h1>Ошибка 505</h1>
                <p class="lead">Ошибка на сервере, попробуйте обновить страницу или обратиться позже.</p>
            </div>
        </div>
    </main>  

{% endblock %}
