<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'taskapp/css/style.css' %}" type="text/css"/>
  <title>Вход</title>
</head>
<body>
<center>
  <div class="limiter">
    <div class=" wrap-login100 p-r-85 p-l-85 p-b-55 p-t-55 ">
  <form action="/"  method="post">
    <span class="login100-form-title ">Welcome</span>
    <p>
    <input class="input100" type="text" name="username" placeholder="Login" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
  </p>
  <p>
    <input type="password" class="input100" placeholder="Password" name="password" autocomplete="current-password" required="" id="id_password">     
  </p>
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ next }}" />
    <p><input class="button" class="text23423" type="submit" value="Join"></p>  
  </form></center>
</div>
</div>
</div>
</body>
</html> 
